<container>
    <!--nav>
        <div class="nav-wrapper">
            <div class="container">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">First</a>
                    <a href="#!" class="breadcrumb">Second</a>
                    <a href="#!" class="breadcrumb">Third</a>
                </div>
            </div>
        </div>
    </nav-->
    <div class="container">
        <div class="row">
            <div class="col s12">

                <kn-booking-form></kn-booking-form>
                <kn-crew-list></kn-crew-list>

                <!--div class="card-panel">
                    <div class="row">
                        <div class="col s8">
                            <h2>Design Indaba 2016</h2>
                            <div class="chip">
                                <img src="assets/img/yuna.jpg" alt="Contact Person"> Jane Doe
                            </div>
                            <div class="chip">
                                Tag
                                <i class="close material-icons">close</i>
                            </div>
                            <p class="flow-text">
                                One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page
                                resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text
                                heavy pages, we've created a class that fluidly scales text size and line-height to optimize
                                readability for the user. Line length stays between 45-80 characters and line height scales
                                to be larger on smaller screens. To see Flow Text in action, slowly resize your browser and
                                watch the size of this text body change! Use the button above to toggle off/on flow-text
                                to see the difference!
                            </p>
                            <a class="waves-effect waves-light btn-large">Button</a>
                        </div>
                        <div class="col s4 center-align">
                            <h2>R99/hr</h2>
                            <a class="waves-effect waves-light btn">Apply for this job</a><br>
                            <p>35 people have already applied</p>
                            <i class="material-icons">add</i>
                            <i class="material-icons">add_alert</i>
                            <i class="material-icons">loyalty</i>
                        </div>
                    </div>
                </div-->


            </div>
        </div>
    </div>
</container>