html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
  background-color: #fafafa;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.collapsible-body {
    background-color: #fff;
}